input{
    width: 60%;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 16px;
    outline: none;
    transition: all 0.3s ease-in-out;
    &:focus{
        border-color: #000;
    }
    margin-right: 10px;
}
button{
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 16px;
    outline: none;
    transition: all 0.3s ease-in-out;
    &:hover{
        background-color: #ccc;
    }
    &:focus{
        border-color: #000;
    }
}